*, *:after, *:before {
  box-sizing: border-box;
}

ul, li {
	margin: 0;
	padding: 0;
}

body {
	background: #272829;
}

.homeh1{
    color: #FFF;
    display: block;
}

.main-nav {
    width: 90%;
	max-width: 240px;
	margin: 0 auto;
    height: 100%;
    cursor: pointer;
}
.main-nav ul {
	position: absolute;
    width: 100%;
	top: 40%;
	margin: 0;
	padding: 0;
}
.main-nav li {
	list-style: none;
	float: left;
}
.main-nav a {
    display: block;
    height: 50px;
	margin: 10px;
	padding: 2px 25px;
	text-decoration: none;
	border-radius: 30px;
    line-height: 45px;
    color: #FFF;
}

.main-nav li:nth-child(1) a {
	background: #d83d3d;
	border: 2px solid #fff;
}
.main-nav li:nth-child(1) a:hover {
	background: #fff;
	color: #d83d3d;
}

.main-nav li:nth-child(2) a {
    background: #9e2c2c;
	border: 2px solid #9e2c2c;
}
.main-nav li:nth-child(2) a:hover {
	background: #b13131;
	border: 2px solid #000000;
}
.error {
	display: inline-block;
	margin: 20px 0 0 20px;
	padding: 10px;
	font-size: 1.3rem;
	border: 1px solid red;
	color: red;
}