doctype html
html(lang="en")
    head
        title MyTeam
        link(href='/static/style/style.css' rel='stylesheet')
    body 
        h1.homeh1 Welcome to MyTeam 
        nav.main-nav
            ul
                li
                    a.signin(href='/login') Log in
                li
                    a.signup(href='/register') Register 

    