html
  head
    title MyTeam
    link(href='/static/style.css' rel='stylesheet')
  body
    header.header
      h1.logo
        a(href='/') Notes

      nav.nav
        a(href='/notes') notes
        a(href='/archive') archive

    block content